body {
    background: #0D1117;
    color: #fff;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.top_panel {
    display: flex;
    background: #000000;
    height: 56px;
    gap: 12px;
    justify-content: space-between;
    padding: 16px 16px 8px;
    align-items: flex-start;
}
.top_panel > * {
    align-self: center;
}
.btn-menu1 {
    height: 32px;
    width: 32px;
    background-color: #4d3030;
    border-radius: 5px;
    padding: 0;
    border: 0.25px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-menu1:hover {

    border: 1px solid #81243b;
}

.btn-menu1 :hover {
    outline-color: white;
    outline-style:solid;
}
.btn-menu2 {
    height: 32px;
    width: 32px;
    border-radius: 5px;
    padding: 0;
    border: 0;
}
.divStart {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.divEnd {
    display: flex;
    width: 32px;
    align-items: flex-start;
    gap: 8px;
}
.divStart > * {
    align-self: center;
}
.divEnd > * {
    align-self: center;
}

.btn-user, .btn-repository {
    height: 32px;
    padding: 0;
}

.btn-search {
    height: 32px;
    padding: 0 0;
}
.img-cat {
    width: 32px;
    }
.img-menu {
    width: 20px;
}   