body {
    background: #0D1117;
    color: #fff;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.top_panel {
    display: flex;
    background: #000000;
    height: 56px;
    gap: 12px;
    justify-content: space-around;
    padding: 16px 16px 8px;
    align-items: flex-start;
}
.top_panel > * {
    align-self: center;
}
.btn-menu {
    height: 32px;
    width: 32px;
    border-radius: 5px;
}
.divStart {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.divEnd {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.divStart > * {
    align-self: center;
}
.divEnd > * {
    align-self: center;
}

.btn-user, .btn-repository {
    height: 32px;
    padding: 0;
}